poetry/poetry.dtd

<!ELEMENT album (author*)>
<!ATTLIST album name CDATA #REQUIRED>
<!ELEMENT author (verse*)>
<!ATTLIST author name CDATA #REQUIRED>
<!ELEMENT verse (title, date, text, link)>
<!ATTLIST verse id CDATA #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT text (#PCDATA)>
<!ELEMENT link (#PCDATA)>
